In [1]:
## import libraries 
import pandas as pd

In [2]:
## import summer data 
oly_s = pd.read_csv("data/summer.csv")
oly_s.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver

In [3]:
## import winter data 
oly_w = pd.read_csv("data/winter.csv")
oly_w.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1924,Chamonix,Biathlon,Biathlon,"BERTHET, G.",FRA,Men,Military Patrol,Bronze
1,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, C.",FRA,Men,Military Patrol,Bronze
2,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, Maurice",FRA,Men,Military Patrol,Bronze
3,1924,Chamonix,Biathlon,Biathlon,"VANDELLE, André",FRA,Men,Military Patrol,Bronze
4,1924,Chamonix,Biathlon,Biathlon,"AUFDENBLATTEN, Adolf",SUI,Men,Military Patrol,Gold

In [4]:
## SUMMER
## what exactly do we have: columns, datatypes, etc. 
oly_s.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31165 entries, 0 to 31164
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Year        31165 non-null  int64
 1   City        31165 non-null  object
 2   Sport       31165 non-null  object
 3   Discipline  31165 non-null  object
 4   Athlete     31165 non-null  object
 5   Country     31161 non-null  object
 6   Gender      31165 non-null  object
 7   Event       31165 non-null  object
 8   Medal       31165 non-null  object
dtypes: int64(1), object(8)
memory usage: 2.1+ MB

In [5]:
## WINTER
## what exactly do we have: columns, datatypes, etc. 
oly_w.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5770 entries, 0 to 5769
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Year        5770 non-null   int64
 1   City        5770 non-null   object
 2   Sport       5770 non-null   object
 3   Discipline  5770 non-null   object
 4   Athlete     5770 non-null   object
 5   Country     5770 non-null   object
 6   Gender      5770 non-null   object
 7   Event       5770 non-null   object
 8   Medal       5770 non-null   object
dtypes: int64(1), object(8)
memory usage: 405.8+ KB

In [6]:
## METHODA 1 to return a series 
## df.column_name also returns the Pandas Series 
oly_w.Year

0       1924
1       1924
2       1924
3       1924
4       1924
        ...
5765    2014
5766    2014
5767    2014
5768    2014
5769    2014
Name: Year, Length: 5770, dtype: int64

In [7]:
## METHOD 2 to return a series (preferred)
## df['columnName'] also returns the Pandas Series 
oly_w["Year"]

0       1924
1       1924
2       1924
3       1924
4       1924
        ...
5765    2014
5766    2014
5767    2014
5768    2014
5769    2014
Name: Year, Length: 5770, dtype: int64

In [8]:
## dr[["Column1", "Column2"]] returns a dataframe 
df = oly_w[["Year", "City"]]
df.sample(10)

      Year               City
5052  2010          Vancouver
2514  1992        Albertville
3832  2002     Salt Lake City
4008  2002     Salt Lake City
2521  1992        Albertville
2519  1992        Albertville
4538  2006              Turin
448   1948          St.Moritz
804   1956  Cortina d'Ampezzo
5473  2014              Sochi

In [9]:
df = oly_w[["Year", "City"]]
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5770 entries, 0 to 5769
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Year    5770 non-null   int64
 1   City    5770 non-null   object
dtypes: int64(1), object(1)
memory usage: 90.3+ KB

In [11]:
## sort by city and year by descending 
city_yr_sort = df.sort_values(by=["City", "Year"], ascending=True)
city_yr_sort

      Year         City
2502  1992  Albertville
2503  1992  Albertville
2504  1992  Albertville
2505  1992  Albertville
2506  1992  Albertville
...    ...          ...
5153  2010    Vancouver
5154  2010    Vancouver
5155  2010    Vancouver
5156  2010    Vancouver
5157  2010    Vancouver

[5770 rows x 2 columns]

In [12]:
## sort by city and year but descending 
city_yr_sort = df.sort_values(by=["City", "Year"], ascending=False)
city_yr_sort

      Year         City
4629  2010    Vancouver
4630  2010    Vancouver
4631  2010    Vancouver
4632  2010    Vancouver
4633  2010    Vancouver
...    ...          ...
2822  1992  Albertville
2823  1992  Albertville
2824  1992  Albertville
2825  1992  Albertville
2826  1992  Albertville

[5770 rows x 2 columns]

In [13]:
## in oly_s, add "Season" column with the value "Summer"
oly_s["Season"] = "Summer"
oly_s

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal,Season
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold,Summer
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver,Summer
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze,Summer
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold,Summer
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver,Summer
...,...,...,...,...,...,...,...,...,...,...
31160,2012,London,Wrestling,Wrestling Freestyle,"JANIKOWSKI, Damian",POL,Men,Wg 84 KG,Bronze,Summer
31161,2012,London,Wrestling,Wrestling Freestyle,"REZAEI, Ghasem Gholamreza",IRI,Men,Wg 96 KG,Gold,Summer
31162,2012,London,Wrestling,Wrestling Freestyle,"TOTROV, Rustam",RUS,Men,Wg 96 KG,Silver,Summer
31163,2012,London,Wrestling,Wrestling Freestyle,"ALEKSANYAN, Artur",ARM,Men,Wg 96 KG,Bronze,Summer
31164,2012,London,Wrestling,Wrestling Freestyle,"LIDBERG, Jimmy",SWE,Men,Wg 96 KG,Bronze,Summer

In [14]:
oly_w["Season"] = "Winter"
oly_w

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal,Season
0,1924,Chamonix,Biathlon,Biathlon,"BERTHET, G.",FRA,Men,Military Patrol,Bronze,Winter
1,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, C.",FRA,Men,Military Patrol,Bronze,Winter
2,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, Maurice",FRA,Men,Military Patrol,Bronze,Winter
3,1924,Chamonix,Biathlon,Biathlon,"VANDELLE, André",FRA,Men,Military Patrol,Bronze,Winter
4,1924,Chamonix,Biathlon,Biathlon,"AUFDENBLATTEN, Adolf",SUI,Men,Military Patrol,Gold,Winter
...,...,...,...,...,...,...,...,...,...,...
5765,2014,Sochi,Skiing,Snowboard,"JONES, Jenny",GBR,Women,Slopestyle,Bronze,Winter
5766,2014,Sochi,Skiing,Snowboard,"ANDERSON, Jamie",USA,Women,Slopestyle,Gold,Winter
5767,2014,Sochi,Skiing,Snowboard,"MALTAIS, Dominique",CAN,Women,Snowboard Cross,Silver,Winter
5768,2014,Sochi,Skiing,Snowboard,"SAMKOVA, Eva",CZE,Women,Snowboard Cross,Gold,Winter
5769,2014,Sochi,Skiing,Snowboard,"TRESPEUCH, Chloe",FRA,Women,Snowboard Cross,Bronze,Winter

In [15]:
## are the two column headers identical
list(oly_w.columns) == list(oly_s.columns)

True

In [16]:
## join winter and summer dataframes together into a dataframe called oly 
join_list = [oly_s, oly_w]
oly = pd.concat(join_list, sort = True)
oly

,Athlete,City,Country,Discipline,Event,Gender,Medal,Season,Sport,Year
0,"HAJOS, Alfred",Athens,HUN,Swimming,100M Freestyle,Men,Gold,Summer,Aquatics,1896
1,"HERSCHMANN, Otto",Athens,AUT,Swimming,100M Freestyle,Men,Silver,Summer,Aquatics,1896
2,"DRIVAS, Dimitrios",Athens,GRE,Swimming,100M Freestyle For Sailors,Men,Bronze,Summer,Aquatics,1896
3,"MALOKINIS, Ioannis",Athens,GRE,Swimming,100M Freestyle For Sailors,Men,Gold,Summer,Aquatics,1896
4,"CHASAPIS, Spiridon",Athens,GRE,Swimming,100M Freestyle For Sailors,Men,Silver,Summer,Aquatics,1896
...,...,...,...,...,...,...,...,...,...,...
5765,"JONES, Jenny",Sochi,GBR,Snowboard,Slopestyle,Women,Bronze,Winter,Skiing,2014
5766,"ANDERSON, Jamie",Sochi,USA,Snowboard,Slopestyle,Women,Gold,Winter,Skiing,2014
5767,"MALTAIS, Dominique",Sochi,CAN,Snowboard,Snowboard Cross,Women,Silver,Winter,Skiing,2014
5768,"SAMKOVA, Eva",Sochi,CZE,Snowboard,Snowboard Cross,Women,Gold,Winter,Skiing,2014
5769,"TRESPEUCH, Chloe",Sochi,FRA,Snowboard,Snowboard Cross,Women,Bronze,Winter,Skiing,2014

In [17]:
## confirm that you have the correct number of rows after th join.
## you can scroll up to cunt the number of entreies in oly_w and oly_s.
## The totals should be equal to the value generated below 

oly.shape[0] == oly_w.shape[0] + oly_s.shape[0]

True

In [18]:
oly_w.shape[0]

5770

In [19]:
##  generate random sample of 20 rows 

oly.sample(20)

,Athlete,City,Country,Discipline,Event,Gender,Medal,Season,Sport,Year
15252,"VERMES, Alban",Moscow,HUN,Swimming,200M Breaststroke,Men,Silver,Summer,Aquatics,1980
9727,"ANDERSON, Paul Edward",Melbourne / Stockholm,USA,Weightlifting,"+ 90KG, Total (Heavyweight)",Men,Gold,Summer,Weightlifting,1956
1596,"KRUGLOV, Nikolay",Innsbruck,URS,Biathlon,4X7.5KM Relay,Men,Gold,Winter,Biathlon,1976
30903,"YAGUE ENRIQUE, Brigitte",London,ESP,Taekwondo,- 49 KG,Women,Silver,Summer,Taekwondo,2012
27235,"TRICKETT, Lisbeth",Beijing,AUS,Swimming,100M Freestyle,Women,Silver,Summer,Aquatics,2008
953,"HINTERSEER, Ernst",Squaw Valley,AUT,Alpine Skiing,Giant Slalom,Men,Bronze,Winter,Skiing,1960
24166,"VEZZALI, Valentina",Sydney,ITA,Fencing,Foil Team,Women,Gold,Summer,Fencing,2000
28368,"HE, Kexin",Beijing,CHN,Artistic G.,Uneven Bars,Women,Gold,Summer,Gymnastics,2008
25576,"GUEVARA, Ana",Athens,MEX,Athletics,400M,Women,Silver,Summer,Athletics,2004
4599,"MARTINO, Francesco",Paris,ITA,Artistic G.,Rings,Men,Gold,Summer,Gymnastics,1924
1240,"SHEPPARD, Melvin",London,USA,Athletics,800M,Men,Gold,Summer,Athletics,1908
1585,"PENNELL, Vane Hungerford",London,GBR,Rackets,Double,Men,Gold,Summer,Rackets,1908
25505,"MYLONAKI, Anthoula",Athens,GRE,Water polo,Water Polo,Women,Silver,Summer,Aquatics,2004
14492,"BEHR, Matthias",Montreal,FRG,Fencing,Foil Team,Men,Gold,Summer,Fencing,1976
25303,"HENRY, Jodie",Athens,AUS,Swimming,4X100M Freestyle Relay,Women,Gold,Summer,Aquatics,2004
476,"GOSSLER, Gustav Ludwig",Paris,GER,Rowing,Four-Oared Shell With Coxswain (4-),Men,Gold,Summer,Rowing,1900
21379,"NAMESNIK, Eric",Atlanta,USA,Swimming,400M Individual Medley,Men,Silver,Summer,Aquatics,1996
22549,"ARNAU, Xavi",Atlanta,ESP,Hockey,Hockey,Men,Silver,Summer,Hockey,1996
15032,"BASSHAM, Lance Robert",Montreal,USA,Shooting,50M Rifle 3 Positions (3X40 Shots),Men,Gold,Summer,Shooting,1976
16776,"MCDONALD, Andrew J.",Los Angeles,USA,Water polo,Water Polo,Men,Silver,Summer,Aquatics,1984

In [20]:
oly.to_csv("data/olympics.csv", encoding = "UTF-8", index= False)

In [22]:
## Sochi subset 
## df[df["column_name"] == "value_in_column"]
df_sochi = oly[oly["City"] == "Sochi"]
df_sochi

,Athlete,City,Country,Discipline,Event,Gender,Medal,Season,Sport,Year
5158,"LANDERTINGER, Dominik",Sochi,AUT,Biathlon,10KM,Men,Silver,Winter,Biathlon,2014
5159,"SOUKUP, Jaroslav",Sochi,CZE,Biathlon,10KM,Men,Bronze,Winter,Biathlon,2014
5160,"BJOERNDALEN, Ole Einar",Sochi,NOR,Biathlon,10KM,Men,Gold,Winter,Biathlon,2014
5161,"MORAVEC, Ondrej",Sochi,CZE,Biathlon,12.5Km Pursuit,Men,Silver,Winter,Biathlon,2014
5162,"BEATRIX, Jean Guillaume",Sochi,FRA,Biathlon,12.5Km Pursuit,Men,Bronze,Winter,Biathlon,2014
...,...,...,...,...,...,...,...,...,...,...
5765,"JONES, Jenny",Sochi,GBR,Snowboard,Slopestyle,Women,Bronze,Winter,Skiing,2014
5766,"ANDERSON, Jamie",Sochi,USA,Snowboard,Slopestyle,Women,Gold,Winter,Skiing,2014
5767,"MALTAIS, Dominique",Sochi,CAN,Snowboard,Snowboard Cross,Women,Silver,Winter,Skiing,2014
5768,"SAMKOVA, Eva",Sochi,CZE,Snowboard,Snowboard Cross,Women,Gold,Winter,Skiing,2014
5769,"TRESPEUCH, Chloe",Sochi,FRA,Snowboard,Snowboard Cross,Women,Bronze,Winter,Skiing,2014

In [25]:
## store subset into dataframe called sochi_df 
df_sochi = oly[oly["City"] == "Sochi"].sample(20)
df_sochi

,Athlete,City,Country,Discipline,Event,Gender,Medal,Season,Sport,Year
5226,"FOGT, Christopher",Sochi,USA,Bobsleigh,Four-Man,Men,Bronze,Winter,Bobsleigh,2014
5254,"BREWSTER, Tom",Sochi,GBR,Curling,Curling,Men,Silver,Winter,Curling,2014
5701,"FRENZEL, Eric",Sochi,GER,Nordic Combined,Ind. K90 (70M),Men,Gold,Winter,Skiing,2014
5749,"MCMORRIS, Mark",Sochi,CAN,Snowboard,Slopestyle,Men,Bronze,Winter,Skiing,2014
5529,"BERGSMA, Jorrit",Sochi,NED,Speed skating,10000M,Men,Gold,Winter,Skating,2014
5227,"HOLCOMB, Steven",Sochi,USA,Bobsleigh,Four-Man,Men,Bronze,Winter,Bobsleigh,2014
5614,"DUVILLARD, Robin",Sochi,FRA,Cross Country Skiing,4X10KM Relay,Men,Bronze,Winter,Skiing,2014
5460,"BROWN, Jason",Sochi,USA,Figure skating,Team,Men,Bronze,Winter,Skating,2014
5449,"CHAN, Patrick",Sochi,CAN,Figure skating,Team,Men,Silver,Winter,Skating,2014
5229,"TOMASEVICZ, Curtis",Sochi,USA,Bobsleigh,Four-Man,Men,Bronze,Winter,Bobsleigh,2014
5517,"FONTANA, Arianna",Sochi,ITA,Short Track Speed Skating,3000M Relay,Women,Bronze,Winter,Skating,2014
5664,"FABJAN, Vesna",Sochi,SLO,Cross Country Skiing,Sprint 1.5KM,Women,Bronze,Winter,Skiing,2014
5671,"MORRIS, David",Sochi,AUS,Freestyle Skiing,Aerials,Men,Silver,Winter,Skiing,2014
5350,"STEEN, Alexander",Sochi,SWE,Ice Hockey,Ice Hockey,Men,Silver,Winter,Ice Hockey,2014
5367,"ROUGEAU, Lauriane",Sochi,CAN,Ice Hockey,Ice Hockey,Women,Gold,Winter,Ice Hockey,2014
5404,"KNIGHT, Hilary",Sochi,USA,Ice Hockey,Ice Hockey,Women,Silver,Winter,Ice Hockey,2014
5364,"MIKKELSON, Meaghan",Sochi,CAN,Ice Hockey,Ice Hockey,Women,Gold,Winter,Ice Hockey,2014
5353,"AGOSTA, Meghan",Sochi,CAN,Ice Hockey,Ice Hockey,Women,Gold,Winter,Ice Hockey,2014
5644,"BJOERGEN, Marit",Sochi,NOR,Cross Country Skiing,30KM,Women,Gold,Winter,Skiing,2014
5684,"GOEPPER, Nicholas",Sochi,USA,Freestyle Skiing,Ski Slopestyle,Men,Bronze,Winter,Skiing,2014

In [27]:
## How many men and women won medals Sochi?
## df_name["column_name"].value_counts()

df_sochi["Gender"].value_counts()

Men      13
Women     7
Name: Gender, dtype: int64

In [28]:
## count medals in all olympics - how many gold, silver, and bronze were given out?
oly["Medal"].value_counts()

Gold      12407
Bronze    12288
Silver    12240
Name: Medal, dtype: int64